{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Machine Learning</h4>
			</div>
			<div class="modal-body" align="center">
				<p id="parrafo"></p>
				<h2><p id="respuesta"></p></h2>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>

<div class="col-lg-12">
	<h1 class="page-header">Cube Summation</h1>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Configura tu cubo
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<div id="formConfig">
							<form id="configuracion" role="form">
								{% csrf_token %}
								<input id="idCubo1" type="hidden" name="id">
								<div id="casosPrueba" class="form-group">
									<label>Casos de prueba "T"</label>
									<input required class="form-control" id="T" name="T" type="number" min="1" max="50" placeholder="¿Cuantos casos de prueba deseas realizar?">
									<p class="help-block">Solo se permiten entre 1 y 50 casos de prueba.</p>
								</div>
								<div id="tamanoCubo" class="form-group">
									<label>Tamaño de cubo "N"</label>
									<input required class="form-control" id="N" name="N" type="number" min="1" max="100" placeholder="Define el tamaño del cubo">
									<p class="help-block">Recuerda que el tamaño del cubo será de NxN y este número debe estar entre 1 y 100.</p>
									<p class="help-block">La visualización se realizará si N es menor a 8.</p>
								</div>
								<div id="operaciones" class="form-group">
									<label>Operaciones "M"</label>
									<input required class="form-control" id="M" name="M" type="number" min="1" max="1000" placeholder="¿Cuantas operaciones deseas realizar?">
									<p class="help-block">Podrás realizar un maxino de 1000 operaciones.</p>
								</div>							
								<div class="form-group" align="center">
									<button type="submit" class="btn btn-info btn-circle btn-xl" title="Iniciar"><i class="fa fa-check"></i>
									</button>
									<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#configuracion').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
									</button>
								</div>
							</form>
						</div>
						<div align="center" id="consultas">
							<h2>Realiza tus consultas</h2>
							<text id="qRestantes">5</text> consultas restantes
							<br>
							<br>
							<div class="row">
								<div class="col-lg-6">
									<label>
										<input type="radio" name="optionsRadios" id="radio1" value="option1"> Update
									</label>
								</div>
								<div class="col-lg-6">
									<label>
										<input type="radio" name="optionsRadios" id="radio2" value="option2"> Query
									</label>
								</div>
							</div>
							<br>
							<div class="row">
								<div id="update" style="display: none;">
									Coordenas
									<form id="form_update" role="form">
										{% csrf_token %}
										<input id="idCubo2" type="hidden" name="id">
										<div class="row">
											<input required type="number" id="coorx" name="x" placeholder="X" maxlength="3" size="3">
											<input required type="number" id="coory" name="y" placeholder="Y" maxlength="3" size="3">
											<input required type="number" id="coorz" name="z" placeholder="Z" maxlength="3" size="3">
											<input required type="number" id="coorv" name="v" placeholder="Valor" maxlength="3" size="3">
										</div>
										<br>
										UPDATE <text id="consulx"></text> <text id="consuly"></text> <text id="consulz"></text> <text id="consulv"></text>
										<br>
										<br>
										<div class="form-group">
											<button type="submit" class="btn btn-info btn-circle btn-xl" title="Actualizar"><i class="fa fa-check"></i>
											</button>
											<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#form_update').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
											</button>
										</div>
									</form>
								</div>
								<div id="query" style="display: none;">
									<form id="form_query" role="form">
										{% csrf_token %}
										<input id="idCubo3" type="hidden" name="id">
										<div class="row">
											<div class="col-lg-6">
												Coordenada 1
												<br>
												<input required type="number" id="coorx1" name="x1" placeholder="X1" maxlength="3" size="3">
												<input required type="number" id="coory1" name="y1" placeholder="Y1" maxlength="3" size="3">
												<input required type="number" id="coorz1" name="z1" placeholder="Z1" maxlength="3" size="3">
											</div>
											<div class="col-lg-6">
												Coordenada 2
												<br>
												<input required type="number" id="coorx2" name="x2" placeholder="X2" maxlength="3" size="3">
												<input required type="number" id="coory2" name="y2" placeholder="Y2" maxlength="3" size="3">
												<input required type="number" id="coorz2" name="z2" placeholder="Z2" maxlength="3" size="3">
											</div>
										</div>
										<br>
										QUERY <text id="consulx1"></text> <text id="consuly1"></text> <text id="consulz1"></text> <text id="consulx2"></text> <text id="consuly2"></text> <text id="consulz2"></text>
										<br>
										<br>
										<div class="form-group">
											<button type="submit" class="btn btn-info btn-circle btn-xl" title="Consultar"><i class="fa fa-check"></i>
											</button>
											<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#form_query').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div align="center" id="cubo"></div>
					</div>
				</div>
			</div>
			<!-- <div id="toTemplates">asdasdf</div> -->
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/p5.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/show_cubo.js' %}"></script>
{% endblock %}