{% extends 'base.html' %}
{% load staticfiles %}
{% block contenido %}
<div class="col-lg-12">
	<h1 class="page-header">Cube Summation</h1>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Configura tu cubo
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						<div id="formConfig">
							<form id="configuracion" role="form">
								<div id="casosPrueba" class="form-group">
									<label>Casos de prueba "T"</label>
									<input required class="form-control" id="T" name="T" type="number" min="1" max="50" placeholder="¿Cuantos casos de prueba deseas realizar?">
									<p class="help-block">Solo se permiten entre 1 y 50 casos de prueba.</p>
								</div>
								<div id="tamanoCubo" class="form-group">
									<label>Tamaño de cubo "N"</label>
									<input required class="form-control" id="N" name="N" type="number" min="1" max="100" placeholder="Define el tamaño del cubo">
									<p class="help-block">Recuerda que el tamaño del cubo será de NxN y este número debe estar entre 1 y 100.</p>
									<p class="help-block">La visualización se realizará si N es menor a 8.</p>
								</div>
								<div id="operaciones" class="form-group">
									<label>Operaciones "M"</label>
									<input required class="form-control" id="M" name="M" type="number" min="1" max="1000" placeholder="¿Cuantas operaciones deseas realizar?">
									<p class="help-block">Podrás realizar un maxino de 1000 operaciones.</p>
								</div>							
								<div class="form-group" align="center">
									<button type="submit" class="btn btn-info btn-circle btn-xl" title="Iniciar"><i class="fa fa-check"></i>
									</button>
									<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#configuracion').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
									</button>
								</div>
							</form>
						</div>
						<div align="center" id="consultas">
							<h2>Realiza tus consultas</h2>
							<text id="qRestantes">5</text> consultas restantes
							<br>
							<br>
							<div class="row">
								<div class="col-lg-6">
									<label>
										<input type="radio" name="optionsRadios" id="radio1" value="option1"> Update
									</label>
								</div>
								<div class="col-lg-6">
									<label>
										<input type="radio" name="optionsRadios" id="radio2" value="option2"> Query
									</label>
								</div>
							</div>
							<br>
							<div class="row">
								<div id="update" style="display: none;">
									Coordenas
									<form id="form_update" role="form">
										{% csrf_token %}
										<div class="row">
											<input required id="coorx" name="x" placeholder="X" maxlength="3" size="3">
											<input required id="coory" name="y" placeholder="Y" maxlength="3" size="3">
											<input required id="coorz" name="z" placeholder="Z" maxlength="3" size="3">
											<input required id="coorv" name="v" placeholder="Valor" maxlength="3" size="3">
										</div>
										<br>
										UPDATE <text id="consulx"></text> <text id="consuly"></text> <text id="consulz"></text> <text id="consulv"></text>
										<br>
										<br>
										<div class="form-group">
											<button type="submit" class="btn btn-info btn-circle btn-xl" title="Actualizar"><i class="fa fa-check"></i>
											</button>
											<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#form_update').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
											</button>
										</div>
									</form>
								</div>
								<div id="query" style="display: none;">
									<form id="form_query" role="form">
										{% csrf_token %}
										<div class="row">
											<div class="col-lg-6">
												Coordenada 1
												<br>
												<input required id="coorx1" name="x1" placeholder="X1" maxlength="3" size="3">
												<input required id="coory1" name="y1" placeholder="Y1" maxlength="3" size="3">
												<input required id="coorz1" name="z1" placeholder="Z1" maxlength="3" size="3">
											</div>
											<div class="col-lg-6">
												Coordenada 2
												<br>
												<input required id="coorx2" name="x2" placeholder="X2" maxlength="3" size="3">
												<input required id="coory2" name="y2" placeholder="Y2" maxlength="3" size="3">
												<input required id="coorz2" name="z2" placeholder="Z2" maxlength="3" size="3">
											</div>
										</div>
										<br>
										QUERY <text id="consulx1"></text> <text id="consuly1"></text> <text id="consulz1"></text> <text id="consulx2"></text> <text id="consuly2"></text> <text id="consulz2"></text>
										<br>
										<br>
										<div class="form-group">
											<button type="submit" class="btn btn-info btn-circle btn-xl" title="Consultar"><i class="fa fa-check"></i>
											</button>
											<button type="button" class="btn btn-danger btn-circle btn-xl" onclick="$('#form_query').trigger('reset');" title="Cancelar"><i class="fa fa-times"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div align="center" id="cubo"></div>
					</div>
				</div>
			</div>
			<!-- <div id="toTemplates">asdasdf</div> -->
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/p5.js' %}"></script>
<script type="text/javascript">
var $id = {{ id }};
</script>
<script type="text/javascript">
$("#cubo, #consultas").hide();
$("#configuracion").submit(function(event){
	$("#cubo").show();
	event.preventDefault();
	$N = $("#configuracion #N").val();
	$("#qRestantes").text($("#configuracion #M").val());
	$("#configuracion #T").prop('disabled', true);
	$("input[id^='coor']").attr({"max":$N,"min":1});
	if ($("#configuracion #T").val() == 0){
		$("#configuracion #T").prop('disabled', false);
		$('#configuracion').trigger('reset');
	}else{
		$("#formConfig").hide();
		$("#consultas").show();
		$("#configuracion #T").val($("#configuracion #T").val() - 1);
	}
});
$("input[id^='coor']").change(function(){
	var nombre = $(this).attr("id").split("coor")[1];
	$("#consul" + nombre).text($(this).val());
});
$("input[name='optionsRadios']").click(function(){
	var nombre = $(this).attr("id");
	if (nombre == "radio1"){
		$("#update").show();
		$("#query").hide();
	}else{
		$("#update").hide();
		$("#query").show();
	}
});
$("form[id^='form_']").submit(function(){
	event.preventDefault();
	var nombre = $(this).attr("id").split("_")[1];
	$.post( "/" + nombre + "/", $(this).serialize(), function( data ) {
		console.log(data);
		$(this).trigger('reset');
		var numero = parseInt($("#qRestantes").text());
		if (numero != 1){
			$("#qRestantes").text(numero - 1);
		}else{
			$("#formConfig").show();
			$("#consultas").hide();
		}
	}, "json");
});
</script>
<script type="text/javascript">
// http://p5js.org/reference/#/p5.Element/parent
var $N = 1;
var espacio;
var $cubo;
var oo;
var $trans = [];
function calculo(N){
	espacio = 400/N;
	$cubo = espacio/7;
	$trans = [];
	for(oo = 0 ; oo < N ; oo = oo + 1){
		$trans[oo] = espacio;
	}
}
function setup() {
	var u = createCanvas(500, 500, WEBGL);
	u.parent("cubo");
}

function draw() {
	background(255);
	// Orange point light on the right
	orbitControl();

	// pointLight(150, 100, 0, 0, 0, 200);
	// // Blue directional light from the left
	// directionalLight(0, 255, 255, 0, 0, 0);
	// // Yellow spotlight from the front
	// pointLight(0, 255, 255, 0, 0, 300);
	rotateY(map(mouseX, 0, width, 0, PI));
	rotateX(map(mouseY, 0, height, 0, PI));
	translate(-200, -200, -200);
	var i, j, k;
	calculo($N);
	for(i in $trans){
		translate(0, 0, $trans[i]);
		for(j in $trans){
			translate(0, $trans[j], 0);
			for(k in $trans){
				// if(k > 3 && k < 5){
				// 	pointLight(200, 0, 0, 0, 0, 200);
				// 	// Blue directional light from the left
				// 	directionalLight(200, 255, 255, 0, 0, 0);
				// 	// Yellow spotlight from the front
				// 	pointLight(0, 255, 255, 0, 0, 300);
				// }
				box($cubo);
				translate($trans[k], 0, 0);
			}
			translate(-400, 0, 0);
		}
		translate(0, -400, 0);
	}
}
</script>
<script id="plantilla_selec" type="text/x-handlebars-template">
	<div class="form-group">
		<label>Tamaño de cubo "N"</label>
		<input required class="form-control" id="N" name="N" type="number" min="1" max="100" placeholder="Define el tamaño del cubo">
		<p class="help-block">Recuerda que el tamaño del cubo será de NxN y este número debe estar entre 1 y 100.</p>
		<p class="help-block">La visualización se realizará si N es menor a 8.</p>
	</div>
	<div class="form-group">
		<label>Operaciones "M"</label>
		<input required class="form-control" id="M" name="M" type="number" min="1" max="1000" placeholder="¿Cuantas operaciones deseas realizar?">
		<p class="help-block">Podrás realizar un maxino de 1000 operaciones.</p>
	</div>
</script>
{% endblock %}